body{
    font-family: 'Open Sans', sans-serif;
	margin: 10px 10px;
    font-size: 11px;
}

th {
	font-weight: normal;
}

td {
	vertical-align: top;
}

td.label 
{
	width: 25%;
}
.note 
{
	margin: 10px 10px;	
	font-style: italic;
}

.section_header 
{
	margin: 20px 10px;
	font-weight: bold;
}

.submit 
{
	margin-top: 20px;
}
.lblError{
    color: red;
}
